* {
	font-family: arial;
}
form.pizza-selections {
	width: 100%;
	font-size: 1em;
}

div.input-wrapper {
	width: 100%;
	float: left;
}

div.size, div.meat, div.veg, div.cheese, div.sauce {
	height: 300px;
	width: 10%;
	float: left;
	margin: 0%;
	background-color: #b3b3b3;
	padding: 25px;
	border-right: 3px solid #7a7a52;
	border-top: 3px solid #7a7a52;
	color: #ffffb3;
}


input.pizza-size {
	margin: 10%;
}

input.pizza-item {
	margin: 10%;
}

button.order {
	float: right;
	margin-top: -340px;
	height: 340px;
	font-size: 1em;
	background-color: #009933;
	border-top: 5px solid #70db70;
	border-right: 5px solid #70db70;
}

div.receipt {
	text-align: center;
	font-size: 2em;
	display: none;
	width: 100%;
	height: 100%;
	margin-top: 25px;
	background-color: #ffffb3;
	border-radius: 2px;
}

ul.output {
	list-style: none;
}


